<!DOCTYPE html>
<html>
<head>
  <title>Epicodus Flickr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <!-- Navigation -->
    <nav id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Epicodus Flickr</a>
            </div>
            <div class="navbar">
                <ul class="nav navbar-nav navbar-left">
                  <% if user_signed_in? %>
                    <li><%= link_to 'Upload', new_image_path %></li>
                  <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li><%= link_to current_user.email,edit_user_registration_path %></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <div id="nav-buffer">
    This should be hidden under the nav
  </div>
  <div id="content">
    <%= yield %>
  </div>


  <div class="toast notice"><%= notice %></div>
  <div class="toast alert"><%= alert %></div>

  <script charset="utf-8">
    $(document).ready(function() {
      setNavbarBufferHeight();

      $( window ).resize(function() {
        setNavbarBufferHeight();
      });
    });

    function setNavbarBufferHeight() {
      var navbarHeight = $("#top-nav").height();
      $("#nav-buffer").height(navbarHeight);
    }
  </script>
</body>
</html>
